.notes{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.note{
  background-color: black;
  max-width: 20rem;
  border-radius: 0.75rem;
  padding-inline: 1rem;
  padding-block: 2rem;
}

.note button{
  background-color: rgb(255, 12, 12);
  font-size: 1rem;
  color: white;
  border-radius: 0.3rem;
  border: none;
  padding-inline: 0.75rem;
  padding-block: 0.5rem;
}

h1{
  color: white;


}

p{
  color: rgba(232, 232, 232, 0.741);
}

form{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;
}

input{
  border-radius: 0.25rem;
  padding: 0.5rem;
  size: 1rem;
}

button{
  border-radius: 0.25rem;
}

.update{
  background-color: rgb(111, 255, 0) !important; 
  font-size: 1rem;
  color: rgb(0, 0, 0) !important;
  border-radius: 0.3rem;
  border: none;
  padding-inline: 0.75rem;
  padding-block: 0.5rem;
}