.cards{
    overflow: scroll;
    height: 100%;
    padding: 1rem;
    color: rgb(235, 235, 235);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding-bottom: 30rem;

    .card{
        flex-grow: 1.5;
        max-width: 25rem;
        padding-inline: 1rem;
        padding-block: 0.75rem;
        background-color: rgb(22, 22, 22);
        border-radius: 0.5rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        img{
            width: 100%;
            border-radius: 1rem;
        }
        
        h1{
            font-size: 1.5rem;

        }

        .description{
            color: rgba(235, 235, 235, 0.452);
            font-size: 0.85rem;
        }

        .tags{
            margin-block: 2rem;
            display: flex;
            gap: 0.3rem;
            flex-wrap: wrap;

            .tag{
                background-color: rgb(68, 68, 68);
                padding: 0.6rem;
                white-space: none;
                border-radius: 0.5rem;

            }
        }

        .links{
            display: flex;
            gap: 1.5rem;
            
            a{
                font-size: 1rem;
                color: rgb(255, 255, 255);
                align-self: center;
            }
        }
    }
    
}