.window{
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);

    border-radius: 0.75rem;
    overflow: hidden;
    

    .top{
        top: 30px;
        width: 100%;
        background-color: rgb(44, 44, 44);
        padding-inline: 0.5rem;
        display: flex;
        gap: 1rem;
        align-items: center;
        border-bottom: 3px solid rgba(112, 112, 112, 0.486);
        padding-block: 0.25rem;
        

        .dots{
            display: flex;
            gap: 0.25rem;
            align-items: center;

            .dot{
                height: 1rem;
                width: 1rem;
                border-radius: 50%;
                cursor: pointer;

            }

            .red{
                background-color: rgb(255, 46, 46);
            }

            .yellow{
                background-color: rgb(250, 215, 18);
            }

            .green{
                background-color: rgb(39, 201, 63);
            }

        }

        .title{
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: 500;
            color: rgb(219, 219, 219);
        }
        
    }

    .main{
        height: 100%;
        
        
    }

    *::-webkit-scrollbar{
        width: 8px;
    }

    *::-webkit-scrollbar-thumb{
        background-color: rgb(83, 83, 83);
        border-radius: 4px;
    }
}