.note-window{
    color: rgb(164, 164, 164);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: scroll;
    height: 100%;
    font-size: 1.1rem;
    white-space: none;
}