nav{
    background-color: rgba(128, 128, 128, 0.459);
    backdrop-filter: blur(5px);
    color: rgba(255, 255, 255, 0.781);
    display: flex;
    justify-content: space-between;
    padding-block: 0.25rem;
    padding-inline: 0.75rem;

    .left,.right{
        display: flex;
        gap: 0.75rem;
        align-items: center;
    }

    img{
        height: 1rem;
        width: 1rem;
        color: white;
    }

    p{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
}